@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* **************************************** HAUT*******************************/
body {
    color: white;
    font-family: Roboto;
}



.background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -99;
    filter: brightness(50%);
    opacity: 90%;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titre {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


}

header {
    display: flex;
    flex-direction: column;
}



.headnav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.logo img {
    width: 50%;
}



h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 300%
}

/* ********************************************MILIEU**************************** */

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

.contact-container {
    border: red solid 2px;
    border-radius: 30px 30px 30px 30px;
    background-color: rgb(162, 122, 122);
    width: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;


}

.contact-container h2 {
    font-size: 250%;

    display: flex;
    text-align: center;
}

.form-container {
    border: solid blue 2px;
    background-color: rgb(143, 143, 187);
    border-radius: 30px 30px 30px 30px;

    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    font-size: 30px;
    font-family: 'Gill Sans MT';

}

.form-container form {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;


}

.ligne1-container {
    border: solid gold 2px;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

.name-container {
    border: solid red 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}



.name-container input {
    border-radius: 5px 5px 5px 5px;
    background-color: aquamarine;
}

.firstname-container {
    border: solid red 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}




.ligne2-container {
    border: solid gold 2px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.tel-container {
    border: solid black 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.mail-container {
    border: solid black 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.comment-container {
    border: solid gold 2px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.button-container {
    border: solid gold 2px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}





/* **********************************************FIN************************************* */





footer {

    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    opacity: 70%;


}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.reseaux {

    display: flex;
    justify-content: space-around;
    width: 100%;
}

.reseaux img {
    width: 50%;
}

.reseaux a {
    display: flex;
    justify-content: center;
}

.copyright {
    padding-bottom: 30px;
}

.contact {
    padding-top: 30px;
}

.contactus-container{
    border: solid blue 2px;
    margin: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* ******************************************************RESP*********************************** */



@media screen and (max-width: 788px) {


    .contact-container {
        width: 60%;
        display: flex;
        text-align: center;
    }

    .name-container {
        background-color: rgb(161, 127, 255);

        flex-direction: column;
        align-items: center;
    }

    .firstname-container {
        background-color: rgb(161, 127, 255);

        flex-direction: column;
        align-items: center;
    }

    .tel-container {
        background-color: rgb(161, 127, 255);

        flex-direction: column;
        align-items: center;
    }

    .mail-container {
        background-color: rgb(161, 127, 255);

        flex-direction: column;
        align-items: center;
    }

    .comment-container {
        background-color: rgb(161, 127, 255);

        flex-direction: column;
        align-items: center;
    }

    .contactus-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contactus-container img{
        padding: 20px;
        width: 30%;
    }

}
